:root {
  --main-bg-color: rgb(228, 228, 228);
}

.navbar {
  background-color: var(--main-bg-color) !important;
}

a {
  color: inherit;
}

main {
  border: 1px solid var(--main-bg-color);
}

.grid-container {
  display: grid;
  width: 40vw;
  grid-template-columns: auto auto auto auto;
  padding: 1%;
}

.grid-item {
  background-color: var(--main-bg-color);
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
}