:root {
  --main-bg-color: rgb(116, 255, 23);
}

.navbar {
  background-color: var(--main-bg-color) !important;
}

a {
  color: inherit;
}

main {
  border: 1px solid var(--main-bg-color);
  padding: 2%;
}

.grid-container {
  display: grid;
  width: 50vw;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  background-color: var(--main-bg-color);
  margin: 0;
  margin-bottom: 1%;
}

.grid-container-acct-header {
  display: grid;
  width: 50vw;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  background-color: white;
  margin: 0;
  margin-bottom: 1%;
}



.grid-container-3 {
  display: grid;
  width: 50vw;
  grid-template-columns: auto auto auto auto auto;
  padding: 0;
}

.grid-container-transactions {
  display: grid;
  width: 50vw;
  grid-template-columns: auto auto auto auto auto auto;
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
}

.grid-container-transactions .grid-item {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  padding: 1%;
  background-color: white;
  margin: 0;
  width: 7vw;
  text-align: left;
}

.grid-item {
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
  width: 12vw;
  text-align: left;
}

#grid-container-header,
#grid-container-header .grid-item {
  background-color: var(--main-bg-color);
  width: 10vw;
  text-align: left;
}

.sub-text {
  color: #acacac;
}

.linkBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-margin {
  margin-top: 1%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.flex-container * {
  margin-right: 2%;
}

.white {
  color: white !important;
}

.btn-success a {
  text-decoration: none;
  color: inherit;
}